.gradient-background {
    background: -webkit-gradient(linear, left top, right top, from(#00a886), color-stop(45%, rgba(0, 168, 134, .2)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, #00a886, rgba(0, 168, 134, .2) 45%, hsla(0, 0%, 100%, 0));
    background-color: #fff;
}

    .gradient-background .navbar-nav .nav-link {
        color: #000 !important;
    }

    .gradient-background .navbar-nav .nav-item {
        margin-left: 15px; /* 調整左邊距 */
        margin-right: 15px; /* 調整右邊距 */
    }

.logo-img {
    max-width: 360px;
    width: 100%; /* 確保圖片在較小容器中也能響應 */
    height: auto; /* 保持圖片的比例 */
}
