@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/site/css/ViewArticle.css" rel="stylesheet" />
    <link href="~/site/css/MenuLinkStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid px-0 mt-header">
        <div class="BasePageLayout">
            <div class="BasePageBanner position-relative">
                <div class="Mask"></div>
                <img class="PageBannerItemBg img-fluid" src="/site/img/about_banner_1.cb027849.jpg" alt="中心介紹封面圖片">
                <div class="container text-center">
                    <div class="Title">
                        <h1 class="BannerTitle" title="About TISS">About TISS</h1>
                        <h2 class="BannerSubTitle">
                            <img class="icon" src="/site/img/title_icon_white.5e98ec4e.svg" alt="中心介紹" title="中心介紹">中心介紹
                        </h2>
                    </div>
                </div>
            </div>
            <section class="row no-gutters">
                <aside class="col-lg-3">
                    <div class="BaseBreadcrumb d-block d-lg-none">
                        <div class="container">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/Tiss/Home" title="首頁">首頁</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">中心介紹</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="content">
                        <div class="Title" title="中心介紹">中心介紹</div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a class="MenuLink" href="/Tiss/Objectives" title="使命、願景">使命、願景</a>
                            </li>
                            <li class="list-group-item">
                                <a class="MenuLink" href="/Tiss/mission" title="中心任務">中心任務</a>
                            </li>
                            <li class="list-group-item">
                                <a class="MenuLink" href="/Tiss/Organization" title="組織概況">組織概況</a>
                            </li>
                            <li class="list-group-item">
                                <a class="MenuLink" href="/Tiss/BOD" title="第1屆 董監事">第1屆 董監事</a>
                            </li>
                            <li class="list-group-item">
                                <a class="MenuLink" href="/Tiss/CEO" title="執行長">執行長</a>
                            </li>
                            <li class="list-group-item">
                                <a class="MenuLink" href="/Tiss/Units" title="單位介紹">單位介紹</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <main class="col-lg-9 bg-light">
                    <div class="MainContainer">
                        <div class="BaseBreadcrumb d-none d-lg-block">
                            <div class="container">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="/Tiss/Home" title="首頁">首頁</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">中心介紹</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="BOD">
                        <div class="content">
                            <div class="contentBox">
                                <div class="SubTitle">
                                    <h3 title="本屆董事會">本屆董事會</h3>
                                    <h4 class="primary" title="Board of Directors">Board of Directors</h4>
                                </div>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">職位</th>
                                                <th scope="col">姓名</th>
                                                <th scope="col">任職經歷</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>董事長</td>
                                                <td>沈孟儒</td>
                                                <td>
                                                    1.國立成功大學講座教授暨校長
                                                    <br>2. 國立成功大學醫學院附設醫院主治醫生
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>董事</td>
                                                <td>呂東武</td>
                                                <td>
                                                    1.國立臺灣大學醫學工程學系教授
                                                    <br>2. 國立臺灣大學醫學系骨科合聘教授
                                                    <br>3. 國立臺灣大學職能治療學系合聘教授
                                                </td>
                                            </tr>
                                            <!-- Additional rows as needed -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="contentBox">
                                <div class="SubTitle">
                                    <h3 title="監事">監事</h3>
                                    <h4 class="primary" title="Supervisors">Supervisors</h4>
                                </div>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">職位</th>
                                                <th scope="col">姓名</th>
                                                <th scope="col">任職經歷</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>常務監事</td>
                                                <td>劉嘉松</td>
                                                <td>
                                                    1.嘉美聯合會計師事務所所長兼會計師
                                                    <br>2.曾任臺灣省會計師公會理事長
                                                    <br>3.曾任國家運動訓練中心常務監事
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>監事</td>
                                                <td>陳美燕</td>
                                                <td>
                                                    1.國立臺灣師範大學運動休閒與餐旅管理研究所優聘教授
                                                    <br>2.應用統計與大數據分析領域專家
                                                    <br>3.國科會精準運科專案營推計畫主持人
                                                    <br>4.中華奧林匹克委員會執行委員
                                                </td>
                                            </tr>
                                            <!-- Additional rows as needed -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </section>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function toggleDropdown(dropdownId) {
                var dropdownToggle = document.getElementById(dropdownId);
                var dropdownMenu = dropdownToggle.nextElementSibling;

                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                } else {
                    dropdownMenu.classList.add('show');
                }
            }
        });

        //圖片及文字存檔功能
        function saveContent() {
            var textContent = document.getElementById('intro').innerHTML;
            var imageSrc = document.getElementById('mainImage').src;

            $.ajax({
                url: 'BODSaveContent',
                method: 'POST',
                data: {
                    TextContent: textContent,
                    ImageSrc: imageSrc
                },
                success: function (response) {
                    if (response.success) {
                        document.getElementById('mainImage').src = response.imagePath;
                        alert('內容已儲存');
                    } else {
                        alert('儲存失敗: ' + response.error);
                    }
                },
                error: function (err) {
                    console.error('儲存失敗', err);
                }
            });
        }

        function loadContent() {
            $.ajax({
                url: 'BODGetContent',
                method: 'GET',
                success: function (response) {
                    if (response.success) {
                        document.getElementById('intro').innerText = response.textContent;
                        document.getElementById('mainImage').src = response.imagePath;
                    } else {
                        console.error('載入失敗: ' + response.error);
                    }
                },
                error: function (err) {
                    console.error('載入失敗', err);
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.pathname;
            var menuLinks = document.querySelectorAll('.MenuLink');

            menuLinks.forEach(function (link) {

                if (link.getAttribute('href') === currentUrl) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>